<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blazorise.Charts" version="0.9.1.2" targetFramework="net48" />
  <package id="FormFactory" version="5.0.71" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.1.1" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
</packages>